.task{
  display:flex;
  flex-direction: column;
  padding:10px 10px 10px 10px;
width:250px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(8,8,8,1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(8,8,8,1);
  box-shadow: 0px 0px 18px 0px rgba(8,8,8,1);
  border-radius:8px;
  margin-top: -5%;
  margin-left: 30%;


  .Data{
    padding-top: 10px;
      font-size:26px;
    border-bottom: 2px solid #ff5252;
    padding-bottom: 4px;
  }
  .createDate{
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
      font-size: 18px;
    border-bottom: 1px solid lightgrey;

  }
  .deadline{
    padding-top: 5px;
    font-size: 14px;
    color:#ff5252;
  }
  .task_body{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  .minitask{
    padding-top: 20px;

  }
}
